Data/.DS_Store
Data/BYparticleinjections.csv
Data/BYSML.csv
Data/ChuMPB.txt
Data/IMAGEtimes.csv
Data/McPMPB.txt
Data/McPSML.txt
Data/MPBindex.csv
Data/SOPHIE_EPT80_1996-2022.csv
Data/stormlist.csv
Data/substorms-frey-20000101_000000_to_20070101_000000.csv
Data/substorms-newell-20000101_000000_to_20070101_000000.csv
Data/SuperMAGData.csv
